@import url("https://uilight.netlify.app/main.css");
 


body { 
    background-image: url("https://img.freepik.com/free-vector/chocolate-splashes-set-isolated-with-small-drops-curvy-flows_1284-54052.jpg?w=1380&t=st=1694710694~exp=1694711294~hmac=8b236a658697e3ff62345d2f0a0defd63f1d251dc6fdd8cd3bbb69b9d0cfd6ba"); 
     background-repeat:no-repeat; 
     background-size:cover; 
} 

